*.dart linguist-language=Dart
*.h linguist-vendored
*.cpp linguist-vendored
*.m linguist-vendored
*.kt linguist-vendored
*.java linguist-vendored
*.xml linguist-vendored
*.gradle linguist-vendored
*.plist linguist-vendored
*.storyboard linguist-vendored
*.xc* linguist-vendored
